@import '/src/styles/mixins/responsive';

.wrapper {
  display: flex;
  gap: 10px;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
  font-family: var(--fonts-comic);

  .icon {
    width: 20px;
    height: 20px;
    svg {
      width: 20px;
      height: 20px;

      path {
        fill: var(--color-muted);
      }
    }
  }


  @include small {
    .title {
      display: none;
    }
  }
}
