@import '/src/styles/mixins/responsive';

.layoutWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  gap: 10px;
  opacity: 0.8;
  font-family: var(--fonts-comic);
  font-size: 20px;
  line-height: 20px;

  svg {
    width: 20px;
    height: 20px;

    path {
      fill: var(--color-muted);
    }
  }

  &:hover {
    opacity: 1;
    color: var(--color-link);

    svg {
      path {
        fill: var(--color-link) !important;
      }
    }
  }

  @include small {
    width: 20px;
    height: 20px;

    .title {
      display: none;
    }
  }
}
