@import '/src/styles/mixins/responsive';

.wrapper {
  display: flex;
  height: 100vh;

  @include small {
    flex-direction: column;
  }
}

.headerWrapper {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  background-color: var(--color-bg-header);
  color: var(--color-header);
  gap: 1rem;
  max-width: 150px;
  transition: background-color 1s ease-in-out;

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 20px;
    font-family: var(--fonts-comic);

    .title {
      text-align: center;
      word-wrap: break-word;
    }
  }

  .nav {
    flex: 1;
  }

  .tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .75rem;
    margin: 10px 0;

    * {
      width: fit-content;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .footer {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-family: var(--fonts-code);
    color: var(--color-muted);
  }

  @include small {
    flex-direction: row;
    border-right: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    max-width: 100%;

    .profile {
      flex-direction: row;
      padding: 10px 20px;

      .avatar {
        img {
          width: 40px;
          height: 40px;
          aspect-ratio: auto 40 / 40;
        }
      }

      .title {
        text-align: left;
        font-size: 20px;
      }

      .role {
        text-align: left;
        font-size: 12px;
      }
    }

    .nav {
      display: none;
    }

    .footer {
      display: none;
    }

    .tools {
      flex: 1;
      align-items: flex-end;
      padding: 0 15px;
    }
  }
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 1rem 100px 1rem;
  background-color: var(--color-bg);
  flex: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
  transition: background-color 1s ease-in-out;
}
