// LIGHT
$color-primary:   #F44336 !default;
$color-accent:    #FF9933 !default;
$color-post:      #333333 !default;
$color-header:    #000000 !default;
$color-description: rgba(#000, .6) !default;
$color-link:      #0a66c2 !default;
$color-bg:        #F3F2EF !default;
$color-bg-header: #FFFFFF !default;
$color-bg-card:   #FFFFFF !default;
$color-bg-post:   #F9F9F9 !default;

// DARK
$color-primary-dark:    #F44336 !default;
$color-accent-dark:     #FF9933 !default;
$color-post-dark:       #F9F9F9 !default;
$color-header-dark:     #FFFFFF !default;
$color-description-dark:  rgba(#FFFFFF, .6) !default;
$color-link-dark:       #70b5f9 !default;
$color-bg-dark:         rgb(0, 0, 0) !default;
$color-bg-header-dark:  #1d2226 !default;
$color-bg-card-dark:    #222222 !default;
$color-bg-post-dark:    #2C2C2C !default;
